body{
    color: red;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
}

nav {
    border: blue;
    border-radius: 2px;
    border-width: medium;
    border-style: solid;
    text-align: center; 
}

header {
    text-align: center;
}

img{
    max-width: auto;
    max-height: auto;
}

footer{
    color: red;
}